.colors {
  color: #114084 #3466aa #82b7dc #F1F1F1 #808080#1C1C1C;
}

:root {
  --dblue: #114084;
  --blue: #3466aa;
  --lblue:#82b7dc;
  --white: #F1F1F1;
  --grey: #808080;
  --black: #1c1c1c;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 1%;
  width: 98%;
  left: 1%;
  border-radius: 1em;
  background: var(--primary);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 50;
}

.logo {
  height: 40%;
  width: 40%;
  padding-left: 2em;
}

.cent-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinup-button, .contact-button, .pricing-button, .faq-button {
  padding-right: 2em;
  padding-left: 2em;
  text-decoration: none;
  color: #ffffff;
}

.spinup-button:hover, .contact-button:hover, .pricing-button:hover, .faq-button:hover{
  text-decoration: underline;
  color:white
}


.login-button {
  color: white;
  background: linear-gradient(to right, #3466aa, #3466aa);
  border-radius: 8px;
  margin: 0.5em;
  padding: 1em; 
}

.login-button:hover {
  transform: scale(1.1);
  color: white;
}