.colors {
  color: #114084 #3466aa #82b7dc #F1F1F1 #444444#1C1C1C;
}
body{
  background: rgb(0,0,0);
  background: linear-gradient(170deg, rgba(0,0,0,1) 0%, rgba(30,30,98,1) 77%, rgba(19,28,149,1) 97%);
}
* {
  font-family: 'Times New Roman', Times, serif
}

:root {
  --dblue: #114084;
  --blue: #3466aa;
  --lblue:#82b7dc;
  --white: #F1F1F1;
  --grey: #444444;
  --black: #1c1c1c;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 1%;
  width: 98%;
  left: 1%;
  border-radius: 1em;
  background: var(--grey);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 50;
}

.logo {
  height: 40%;
  width: 40%;
  padding-left: 2em;
}

.cent-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinup-button, .contact-button, .pricing-button, .faq-button {
  padding-right: 2em;
  padding-left: 2em;
  text-decoration: none;
  color: #ffffff;
}

.spinup-button:hover, .contact-button:hover, .pricing-button:hover, .faq-button:hover{
  text-decoration: underline;
  color:white
}

.login-button {
  color: white;
  background: linear-gradient(to right,  #3466aa, #3466aa);
  border-radius: 8px;
  margin: 0.5em;
  padding: 1em; 
}

.login-button:hover {
  filter: brightness(80%);
  color: white;
}

#root {
  width: 100%;
}

.gpu-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  color: var(--white);
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.gpu {
  background: var(--grey);
  border-radius: 30px; 
  padding: 10px 40px; 
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  text-align: center;
  width: 70%;
}

